<html>
    <head>
        <title>Shoes and Stores</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Shoes and Where to Find Them!</h1>

            <form action="/brands">
                <button type="submit" class="btn btn-primary">Add/View Brands</button>
            </form>

            <form action="/stores">
                <button type="submit" class="btn btn-info">Add/View Stores</button>
            </form>

            <form action="/delete_all" method="post">
                <button type="submit" class="btn btn-danger">Delete All Brands and Stores</button>
            </form>
        </div>
    </body>
</html>
